<div class="group relative bg-white">
  <div
    class="w-full h-56 bg-gray-200 aspect-w-1 aspect-h-1 overflow-hidden group-hover:opacity-75 lg:h-56 lg:aspect-none"
  >
    <img
      src="../../../assets/images/food1.jpeg"
      alt=""
      class="w-full h-full object-center object-cover lg:w-full lg:h-full"
    />
  </div>
  <div class="mt-4 flex justify-between">
    <div class="w-full p-4">
      <h3 class="text-gray-900 text-2xl">{{name}}</h3>
      <p class="mt-2 text-gray-600 text-sm">Beverages, Ice Cream, Desserts</p>
      <div class="flex item-center mt-2">
        <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
          <path
            d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"
          ></path>
        </svg>
        <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
          <path
            d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"
          ></path>
        </svg>
        <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
          <path
            d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"
          ></path>
        </svg>
        <svg class="w-5 h-5 fill-current text-gray-500" viewBox="0 0 24 24">
          <path
            d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"
          ></path>
        </svg>
        <svg class="w-5 h-5 fill-current text-gray-500" viewBox="0 0 24 24">
          <path
            d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"
          ></path>
        </svg>
      </div>
      <div class="flex item-center justify-between mt-3">
        <h3 class="text-gray-700 font-bold text-xl">Rs. 220</h3>
        <button
          class="px-3 py-2 bg-gray-800 text-white text-xs font-bold uppercase rounded"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
